/*Estilos Gerais*/
body{
    font-family: Arial, Helvetica, sans-serif;/*Alterando a fonte*/
    margin: 40px;/*Margem da página*/
}

h1, p{
    margin: 0px;/*Margem da página*/
}

h1{
    font-size: 48px;/*Tamanho da fonte*/
}

span, p{
    font-size: 20px;/*Tamanho da fonte*/
}

img{
    max-width: 100%;/*Faz a imagem abrir no máximo em 100% do tamanho dela*/
}

.grid{
    display: grid;
    gap: 20px;/*Espaçamento entre */
    grid-template-columns: 1fr 1fr;
}

.titulo{
    grid-column: 1/-1;
}

.comprar{
    background: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
}

.preco{
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

.info{
    display: grid;
    place-self: start; /*Todos os componentes ficarão alinhados pra cima*/
    place-items: start;/*Coloca o background tudo para a esquerda, até terminar o texto*/
    gap: 20px;
}

