body{
    background-image: url("../imagens/robos.png");/*colocando imagem como background*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;/*Fixa o background para rolar a página e manter a foto*/
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

main{
    background-color: rgba(0,0,0,0.6);/*deixando transparente*/
    padding: 5px 40px;/*tamanho da borda*/
    margin-top: 20px;/*distanciamento da borda da página*/
    border-radius: 10px; /*arredondamento da borda*/
    }

.manchete, .headline, .logo, .video, article, .homem{
    text-align: center;
}

article{
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
}

.robo{
    margin: 30px 0px;
    text-align: center;
    width: 100%;
}

.robo table{
    background: rgba(130, 65, 130, 0.6);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}


/*usa-se "#" para chamar id no css*/
#menu ul{
    list-style: none;/*retira a bolinha da lista*/
    padding: 0px;
    margin: 0px;
    background-color: #EDEDED;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    padding: 5px 15px;/*distância de cima e de baixo, e depois das laterais*/
    display: inline-block;/*deixa de ocupar um o espaço do outro*/
    background-color: #EDEDED;/*cor de fundo do botão*/
    color: black;
    text-decoration: none;/*retira o sublinhado do link*/
    border-bottom: 3px solid #EDEDED;
}

#menu ul li a:hover{
    background-color: #D6D6D6;/*muda a cor de fundo ao passar o mouse sobre o botão*/
    color: blue;/*muda a cor do texto ao passar o mouse em cima do botão*/
    border-bottom: 3px solid red;/*cria uma borda sólida e colorida embaixo do botão ao passar o mouse em cima*/
}

